.rule {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(207, 201, 216);
  font-size: 12px;
  line-height: 1.35;
}

.icon {
  display: flex;
  align-items: center;
  color: rgb(224, 122, 132);
}
