.container {
  display: flex;
  pointer-events: auto;
  user-select: text;
  flex-direction: column;
  gap: 7px;
  animation: slideLoad 250ms ease-in-out forwards;
}

.separator {
  margin: 0;
  border: none;
  border-top: 1px solid rgba(126, 112, 153, 0.28);
}

@keyframes slideLoad {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
