.inputLabel {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left: 3px;
  box-sizing: content-box;
  color: rgb(172, 172, 172);
  font-size: 17px;
}

.helpHint {
  position: relative;
  display: flex;
  color: rgb(123, 109, 139);
  cursor: help;
}

.modalHelpHintText {
  position: absolute;
  bottom: 18px;
  right: -22px;
  font-size: 12px;
  color: rgb(165, 165, 165);
  max-width: 200px;
  width: max-content;
  background-color: rgb(20, 19, 27);
  padding: 8px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.helpHint:hover .modalHelpHintText {
  opacity: 1;
}