.sidebar {
  min-height: 0;
  height: 100dvh;
  width: 250px;
  box-sizing: border-box;
  padding: 1rem 0.75rem 6rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-color: #555861 #1b1c20;
  scrollbar-width: thin;
  background: #17181c;
  border-right: 1px solid #2b2d31;
}

.brand {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.25rem 0.45rem 1rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #2b2d31;
  user-select: none;
}

.brandIcon {
  height: 25px;
}

.brandName {
  display: block;
  color: #b5a4db;
  font-size: 1rem;
}

.resourceNavBlock {
  display: flex;
  flex-direction: column;
}
