node_modules/

# IDE files
.idea/
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Workspace files
go.work
go.work.sum
note_modules/

.env
.idea/
.vscode/

# Database files
*.db