.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  position: fixed;
  inset: 0;
  z-index: 20;
  animation: fadeIn 200ms ease-out;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 41;
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
