.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 28px;
  box-sizing: border-box;
  background-color: rgb(30, 25, 37);
  border: 1px solid rgb(65, 55, 80);
  border-radius: 20px;
  width: 500px;
  animation: smoothToggleModal 300ms ease-in-out forwards;
}

.heading {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 121, 121, 0.11);
  border: 1px solid rgb(255, 102, 102);
  border-radius: 10px;
  padding: 8px 12px;
}

.title {
  margin: 0;
  color: rgb(209, 148, 148);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.question {
  color: rgb(124, 117, 136);
}

.prompt {
  margin-top: 12px;
  font-size: 0.9em;
  color: rgb(146, 140, 156);
}

.footer {
  display: flex;
  justify-content: end;
  gap: 10px;
  position: relative;
  margin-top: 10px;
  padding-top: 20px;
}

.footer::before {
  content: '';
  position: absolute;
  inset: 0 0 auto 0;
  height: 1px;
  background-color: rgb(60, 50, 82);
}

.cancel,
.confirm {
  font-size: 1em;
  font-weight: 450;
  padding: 10px 18px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
}

.cancel {
  background-color: transparent;
  color: rgb(99, 94, 110);
}

.cancel:hover {
  background-color: rgb(47, 37, 66);
}

.confirm {
  background-color: rgb(255, 87, 87);
  color: rgb(99, 22, 22);
}

.confirm:hover {
  background-color: rgb(253, 64, 64);
}

.confirm:disabled {
  opacity: 0.4;
}

@keyframes smoothToggleModal {
  from {
    opacity: 0;
    scale: 70%;
  }
  
  to {
    opacity: 1;
    scale: 100%;
  }
}