.footer {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.footer > button {
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 9999px;
  border: none;
  font-size: 1em;
  font-weight: 450;
  transition: opacity 300ms;
}

.footer > button:hover {
  opacity: 0.8;
}

.saveButton {
  background-color: rgb(144, 92, 192);
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 72, 72);
}