.footer {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.loaderContainer {
  position: absolute;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
}

.buttonLoader {
  scale: 0.7;
}

.footer > button {
  position: relative;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 9999px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  transition: opacity 300ms;
}

.footer > button:hover {
  opacity: 0.8;
}

.footer > button:disabled {
  background-color: rgb(69, 46, 90);
  color: rgb(41, 25, 56);
}

.saveButton {
  background-color: rgb(144, 92, 192);
  color: rgb(52, 27, 75);
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 72, 72);
}