.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 25, 37);
  border: 1px solid rgb(42, 36, 51);
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 0;
  box-sizing: border-box;
  max-height: 95vh;
  gap: 20px;
  width: 500px;
  /* animation: smoothToggleModal 300ms ease-in-out forwards; */
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 10px;
  padding: 3px;
  border-radius: 8px;
  right: 10px;
  transition: background-color 300ms;
}

.close:hover {
  background-color: rgb(51, 42, 63);
}

.form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 30px;
  gap: 20px;
}

/* Ths scrollbar here has caused me nightmares */
.form::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.division {
  width: 100%;
  border-top: 2px solid rgb(63, 52, 80);
}

@keyframes smoothToggleModal {
  from {
    opacity: 0;
    scale: 70%;
  }
  
  to {
    opacity: 1;
    scale: 100%;
  }
}