.container {
  position: relative;
  background-color: rgb(30, 25, 37);
  border: 1px solid rgb(42, 36, 51);
  border-radius: 15px;
  padding: 25px;
  box-sizing: border-box;
  height: 550px;
  max-height: 90vh;
  width: 500px;
  /* animation: smoothToggleModal 300ms ease-in-out forwards; */
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 10px;
  padding: 3px;
  border-radius: 8px;
  right: 10px;
  transition: background-color 300ms;
}

.close:hover {
  background-color: rgb(51, 42, 63);
}

.form {

}

@keyframes smoothToggleModal {
  from {
    opacity: 0;
    scale: 70%;
  }
  
  to {
    opacity: 1;
    scale: 100%;
  }
}