.emptyBox {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.emptyBox > span {
  color: #b4b4b480;
  font-size: 30px;
  letter-spacing: 2px;
}