.sidebarLayout {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  height: 100vh;
  width: 100%;
  background-color: var(--sidebar-background-color);
  overflow: hidden;
}

.leftMenu {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
  padding: var(--sidebar-padding);
  box-sizing: border-box;
  min-width: 0;
}

.menuLowerItems {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5px;
  margin-right: -13px;
  margin-left: -13px;
  padding: 8px 13px;
  overflow: hidden;
  gap: 3px;
}

.menuLowerItems:hover {
  overflow-y: auto;
}

.sidebarLoaderContainer {
  position: absolute;
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
