.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 18px;
  gap: 8px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 12px;
}

.left {
  display: flex;
  height: 100%;
  width: 100%;
}

.partners {
  display: flex;
  width: 100%;
  gap: 18px;
  flex-direction: column;
}

.partnersTitle {
  margin: 0;
  color: rgb(168, 164, 179);
}

.partnerList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  list-style: none;
  gap: 8px;
  padding: 0;
  padding-right: 8px;
  margin: 0;
  color: white;
}

.right {
  max-width: 400px;
}

.generic {
  --borderColor: rgb(100, 100, 255);
  display: flex;
  flex-direction: column;
  width: 400px;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 10px;
  color: rgb(164, 160, 170);
  background-color: rgba(100, 100, 255, 0.2);
  border: 1px solid var(--borderColor);
  transition: background-color 300ms;
}

.generic:hover:not(.warning) {
  background-color: rgba(100, 100, 255, 0.15);
}

.generic.warning {
  background-color: rgba(255, 255, 80, 0.1);
  border: 1px solid rgb(216, 216, 110);
  color: rgb(170, 168, 160);
}

.headerTitle {
  display: flex;
  align-items: center;
  font-size: 1em;
  background-color: rgba(150, 150, 255, 0.15);
  color: rgb(140, 140, 243);
  gap: 5px;
  padding: 6px;
  margin-bottom: 12px;
  border-radius: 5px;
}

.generic.warning .headerTitle {
  background-color: rgba(255, 255, 80, 0.15);
  color: rgb(216, 190, 116);
}

.cacheIcon {
  color: var(--borderColor);
  cursor: pointer;
  height: 1.3em;
  width: 1.3em;
}

.generic.warning .cacheIcon {
  color: rgb(216, 190, 116);
}

.legalName {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 1.1em;
  margin: 0;
}

.tradeName {
  font-size: 0.9em;
  margin: 0;
  margin-top: 10px;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.listItem {
  display: flex;
  gap: 5px;
}

.listItemLabel {
  font-weight: 500;
  text-wrap: nowrap;
}

.listItemValue {
  color: rgb(119, 111, 131);
}

.generic.warning .listItemValue {
  color: rgb(131, 130, 111);
}