.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgba(255, 198, 42, 0.2);
  border: 1px solid rgb(216, 198, 110);
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  transition: background-color 300ms;
  animation: insideoutPartner 100ms ease-in-out forwards;
}

.container:hover {
  background-color: rgba(221, 173, 40, 0.2);
}

.row {
  display: flex;
  gap: 8px;
}

.rowLabel {
  color: rgb(240, 229, 173);
}

.rowValue {
  color: rgb(192, 187, 165);
}

@keyframes insideoutPartner {
  from {
    scale: 0.97;
  }

  to {
    scale: 1;
  }
}