.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 25, 37);
  border: 1px solid rgb(42, 36, 51);
  border-radius: 12px;
  height: 250px;
  width: 500px;
  max-height: 95vh;
  max-width: 95vw;
  gap: 25px;
  padding: 35px;
  box-sizing: border-box;
  animation: smoothToggleModal 300ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards;
  transition:
    height 600ms cubic-bezier(0.16, 1, 0.3, 1),
    width 600ms cubic-bezier(0.16, 1, 0.3, 1),
    border-radius 300ms;
}

.found {
  height: 650px;
  width: 1100px;
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 10px;
  padding: 3px;
  border-radius: 8px;
  right: 10px;
  transition: background-color 300ms;
}

.close:hover {
  background-color: rgb(51, 42, 63);
}

.top {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.titleIcon {
  color: #7d689e;
}

.title {
  font-size: 1.6em;
  margin: 5px 0;
  color: rgb(156, 151, 161);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  color: rgb(156, 151, 161);
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchBar > input {
  height: 22px;
  font-size: 1em;
}

.submit {
  height: 100%;
  background-color: transparent;
  aspect-ratio: 1;
}

.submit:hover {
  background-color: rgb(44, 37, 54);
}

.sendIcon {
  color: rgb(168, 155, 189);
}

@keyframes smoothToggleModal {
  from {
    opacity: 0;
    scale: 70%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
