.audioFrame {
  width: 70%;
}

.pdfFrame {
  height: 100%;
  width: 100%;
  border: none;
}

.imageFrame {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.textFrame {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #0000001a;
  color: #b1b1b1;
  padding: 10px;
  box-sizing: border-box;
}

.videoFrame {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border: none;
  outline: none;
}

/* Just some enhancements for Markdown formattings */
.textFrame a {
  color: rgb(21, 130, 255);
}

.textFrame table {
  min-width: 70%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.textFrame table > thead > tr {
  background-color: rgba(255, 255, 255, 0.2);
}

.textFrame table > tbody > tr {
  background-color: rgba(255, 255, 255, 0.02);
}

.textFrame table th,
.textFrame table td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px; 
}