.audioFrame {
  width: 70%;
}

.pdfFrame {
  height: 100%;
  width: 100%;
  border: none;
}

.imageFrame {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.textFrame {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  color: #b1b1b1;
  padding: 10px;
  box-sizing: border-box;

  /* 1. Break words if they are too long to fit on one line */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.videoFrame {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border: none;
  outline: none;
}