.md a {
  color: rgb(21, 130, 255);
}

.md table {
  min-width: 70%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.md table > thead > tr {
  background-color: rgba(255, 255, 255, 0.2);
}

.md table > tbody > tr {
  background-color: rgba(255, 255, 255, 0.02);
}

.md table th,
.md table td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
}

.md > ul,
.md > ol {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  gap: 5px;
}

.md code {
  border-radius: 5px;
  background-color: rgb(13, 17, 23);
  font-family: var(--font-code);
  font-size: var(--font-code-size);
}

.md pre > code {
  border: 1px solid rgb(41, 43, 65);
}

.md code:not(:global(.hljs)),
.md :not(pre) > code {
  padding: 0px 4px;
  border: 1px solid rgb(41, 43, 65);
}

.md :global(img.emoji) {
  height: 1.2em;
  width: 1.2em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.2em;
  display: inline-block;
}
