.md a {
  color: rgb(21, 130, 255);
}

.md table {
  min-width: 70%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.md table > thead > tr {
  background-color: rgba(255, 255, 255, 0.2);
}

.md table > tbody > tr {
  background-color: rgba(255, 255, 255, 0.02);
}

.md table th,
.md table td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px; 
}