.container {
  position: fixed;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  inset: 0;
}

.mainContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: var(--main-background-color);
}

.emptyBox {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.emptyBox > span {
  color: #b4b4b480;
  font-size: 30px;
  letter-spacing: 2px;
}