.left-menu {
  position: relative;
  background-color: var(--sidebar-background-color);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 270px;
  padding: var(--sidebar-padding);
  padding-bottom: 0;
  box-sizing: border-box;
  transition: width 0.3s;
}

@media (min-width: 1600px) {
  .left-menu {
    width: 320px;
  }
}

@media (max-width: 800px) {
  .left-menu {
    width: 230px;
  }
}

.menu-upper-controls {
  display: flex;
  flex-direction: column;
}

#search-input {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  border: 0.3em solid rgba(0, 0, 0, 0.2);
  padding-left: 8px;
  color: rgb(158, 158, 158);
  border-radius: 0.4em;
  transition: border-color 0.3s;
}

#search-input:focus {
  border-color: rgb(75, 53, 129);
}

#search-input::placeholder {
  color: rgb(82, 82, 82);
}

.menu-divider {
  margin: 15px 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

#search-result-count {
  margin-top: 0;
  color: rgb(90, 90, 90);
  font-size: 0.8em;
}

.menu-lower-items {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-right: -13px;
  margin-left: -13px;
  padding: 8px 13px;
  overflow: hidden;
  gap: 8px;
}

.menu-lower-items:hover {
  overflow-y: auto;
}

.note-item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--sidebar-item-background-color);
  border-radius: 0.5em;
  min-height: 45px;
  width: 100%;
  color: rgb(173, 173, 173);
  box-shadow: 0.2em 0.2em 10px rgba(0, 0, 0, 0.125);
  user-select: none;
  line-height: 130%;
  z-index: 2;
  transition:
    scale 0.3s,
    background-color 0.3s;
}

.note-item:hover {
  outline: 1px solid var(--sidebar-item-hover-border-color);
  scale: 103%;
  cursor: pointer;
  height: max-content;
  background-color: var(--sidebar-item-hover-background-color)
}

.note-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note-item:hover .note-item-title {
  overflow: visible;
  white-space: normal;
}

.note-item:active {
  scale: 97%;
}

.menu-footer-controls {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  margin-left: calc(var(--sidebar-padding) * -1);
  margin-right: calc(var(--sidebar-padding) * -1);
  background-color: var(--sidebar-bottom-background-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: margin-bottom 0.5s;
}

.footer-control-button {
  display: flex;
  height: 100%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 93, 133);
  border: none;
  border-radius: 8px;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.footer-control-button:hover:not(:disabled) {
  background-color: rgb(130, 118, 161);
}

.sidebar-pfp {
  display: flex;
  height: 100%;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: rgb(145, 145, 145);
  background-color: rgb(50, 50, 238);
  user-select: none;
}

.sidebar-pfp:hover {
  cursor: pointer;
}