.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 90vh;
  background-color: rgb(30, 25, 37);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  /* animation: smoothToggleModal 300ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards; */
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.headerIconWrapper {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 3px 4px;
  background-color: rgb(65, 52, 82);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #a69db9;
  display: flex;
  align-items: center;
  gap: 10px;
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 10px;
  padding: 3px;
  border-radius: 8px;
  right: 10px;
  transition: background-color 300ms;
}

.close:hover {
  background-color: rgb(51, 42, 63);
}

.contentGrid {
  display: grid;
  grid-template-columns: 450px 1fr;
  height: 100%;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.editorPanel {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  overflow-y: auto;
}

.codeEditorWrapper {
  flex: 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  min-height: 400px;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(144, 92, 192);
  color: #11111b;
  border: none;
  border-radius: 9999px;
  padding: 12px;
  font-size: 1em;
  font-weight: 600;
  padding: 12px 18px;
  cursor: pointer;
  transition: background-color 300ms;
}

.submitButton:hover:not(:disabled) {
  background-color: rgb(169, 119, 216);
}

.submitButton:disabled {
  background-color: rgb(54, 36, 71);
  color: #1a1522;
  cursor: not-allowed;
}

@keyframes smoothToggleModal {
  from {
    opacity: 0;
    scale: 70%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
