.previewPanel {
  background-color: rgb(19, 17, 24);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.topInfos {
  position: absolute;
  display: flex;
  align-items: stretch;
  z-index: 10;
  font-size: 0.8rem;
  top: 1rem;
  gap: 5px;
  right: 1rem;
  user-select: none;
}

.modeFlowchart {
  pointer-events: none;
}

.topItem {
  display: flex;
  color: #a6adc8;
  text-decoration: none;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  gap: 5px;
  border-radius: 8px;
}

.docs:hover {
  text-decoration: underline;
  cursor: pointer;
}

.topIcon {
  display: flex;
}

.textView {
  height: 100%;
  overflow-y: auto;
}
