.previewPanel {
  background-color: rgb(19, 17, 24);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.previewHeader {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-size: 0.8rem;
  color: #a6adc8;
  z-index: 10;
  pointer-events: none;
}
