.noteItem {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  font-size: 15px;
  font-weight: 450;
  box-sizing: border-box;
  border-radius: 9999px;
  width: 100%;
  color: #908c97;
  user-select: none;
  line-height: 140%;
  z-index: 2;
  transition: background-color 300ms;
  animation: insideoutNotes 100ms ease-in-out forwards;
}

.noteItem.tall {
  border-radius: 18px;
}

.noteItem:hover:not(.open) {
  cursor: pointer;
  height: max-content;
  background-color: rgba(136, 116, 167, 0.125);
}

.open {
  background-color: var(--sidebar-item-open-background-color);
  cursor: default;
}

.noteItemTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noteItem:hover .noteItemTitle {
  overflow: visible;
  white-space: normal;
}

.noteItem:active:not(.open) {
  scale: 97%;
}

.noteItem:hover .patch,
.noteItem:focus .patch {
  visibility: visible;
}

.patch {
  visibility: hidden;
  height: 100%;
  max-height: 30px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  border-radius: 9999px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 300ms;
  animation: smoothToggleIcon 200ms ease-in-out forwards;
}

.patch:hover {
  background-color: rgb(30, 27, 39);
}

.open .patch:hover {
  background-color: rgb(51, 45, 65);
}

@keyframes smoothToggleIcon {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes insideoutNotes {
  from {
    scale: 0.97;
  }

  to {
    scale: 1;
  }
}
