.noteItem {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--sidebar-item-background-color);
  border-radius: .5em;
  min-height: 45px;
  width: 100%;
  color: #adadad;
  box-shadow: .2em .2em 10px rgba(0, 0, 0, 0.125);
  user-select: none;
  line-height: 140%;
  z-index: 2;
  transition:
    background-color 300ms,
    scale 300ms;
}

.noteItem:hover:not(.open) {
  outline: 1px solid var(--sidebar-item-hover-border-color);
  scale: 103%;
  cursor: pointer;
  height: max-content;
  background-color: var(--sidebar-item-hover-background-color);
}

.open {
  background-color: var(--sidebar-item-open-background-color);
  cursor: default;
}

.noteItemTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noteItem:hover .noteItemTitle {
  overflow: visible;
  white-space: normal;
}

.noteItem:active:not(.open) {
  scale: 97%;
}

.noteItem:hover .patch {
  display: flex;
}

.patch {
  display: none;
  height: 30px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color 300ms,
    scale, 300ms;
  animation: smoothToggleIcon 200ms ease-in-out forwards;
}

.patch:hover {
  background-color: rgb(26, 24, 34);
}

@keyframes smoothToggleIcon {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}