.explanation {
  width: 30%;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  word-break: break-word;
  box-sizing: border-box;
  color: #a4a0aa;
}

.title {
  color: rgb(173, 173, 180);
}

.division {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--sidebar-item-hover-border-color);
}

.contents {
  font-size: 0.95em;
  line-height: 1.6;
}

.intro {
  margin-bottom: 8px;
}

.stepList {
  padding-left: 20px;
  margin-top: 10px;
}

/* Common style for notes */
.commonWarn {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.commonTitle {
  display: flex;
  align-items: center;
  font-size: 0.94em;
  gap: 5px;
  padding: 6px;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 8px;
}

.explCommonBody {
  font-size: 0.9em;
  color: rgb(177, 176, 163);
  margin: 0;
}

.explCommonBody > p {
  margin: 0;
}

.explCommonBody a {
  color: rgb(0, 140, 255);
  text-decoration: none;
}

.explCommonBody a:hover {
  text-decoration: underline;
}

/* Important/Warning */
.important {
  border: 1px solid rgb(216, 216, 110);
  background-color: rgba(255, 255, 80, 0.1);
}

.importantTitle {
  background-color: rgba(255, 255, 80, 0.15);
  color: rgb(216, 216, 116);
}

/* Screen References */
.reference {
  border: 1px solid rgb(100, 100, 255);
  background-color: rgba(100, 100, 255, 0.1);
  margin-top: 15px;
}

.referenceTitle {
  background-color: rgba(150, 150, 255, 0.15);
  color: rgb(140, 140, 243);
}