.container {
  position: relative;
  height: 600px;
  width: 1200px;
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 12px;
  border: 1px solid rgb(53, 47, 66);
  background-color: var(--algo-calc-modal-background-color);
  animation: smoothToggleModal 300ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contents {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.calculator {
  height: 100%;
  width: 70%;
  background-color: var(--algo-calc-modal-background-color);
}

.wall {
  height: 95%;
  border-right: 1px solid rgb(79, 70, 95);
}

.customControls {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: none !important;
}

.customControls>button {
  border-radius: 9999px;
  background-color: rgb(95, 77, 116);
  border: none;
}

.customControls>button:hover {
  background-color: rgb(127, 105, 150);
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 10px;
  padding: 3px;
  border-radius: 8px;
  right: 10px;
  transition: background-color 300ms;
  z-index: 10;
}

.close:hover {
  background-color: rgb(51, 42, 63);
  color: white;
}

@keyframes smoothToggleModal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}