.footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  margin-left: calc(var(--sidebar-padding) * -1);
  margin-right: calc(var(--sidebar-padding) * -1);
  background-color: var(--sidebar-bottom-background-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: margin-bottom 0.5s;
}

.buttonsContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
