.footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  margin-left: calc(var(--sidebar-padding) * -1);
  margin-right: calc(var(--sidebar-padding) * -1);
  background-color: var(--sidebar-bottom-background-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: margin-bottom 0.5s;
}

.buttonsContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.button {
  position: relative;
  display: flex;
  aspect-ratio: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  font-size: 35px;
  color: rgba(194, 156, 238, 0.6);
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover:not(:disabled) {
  background-color: rgba(119, 102, 161, 0.1);
}
