.leftMenu {
  position: relative;
  background-color: var(--sidebar-background-color);
  border-right: 1px solid rgba(217, 180, 255, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 300px;
  padding: var(--sidebar-padding);
  padding-bottom: 0;
  box-sizing: border-box;
  transition: width 0.3s;
}

@media (min-width: 1600px) {
  .leftMenu {
    width: 360px;
  }
}

@media (max-width: 800px) {
  .leftMenu {
    width: 230px;
  }
}

.menuUpperControls {
  display: flex;
  flex-direction: column;
}

.searchInput {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  border: 0.3em solid rgba(0, 0, 0, 0.2);
  padding: 2px 0 2px 8px;
  color: rgb(158, 158, 158);
  border-radius: 0.6em;
  transition: border-color 0.3s;
  user-select: none;
}

.searchInput:hover {
  border-color: rgb(45, 39, 61);
}

.searchInput:focus {
  border-color: rgb(107, 64, 156);
}

.searchInput::placeholder {
  font-size: 1.05em;
  color: rgb(69, 65, 73);
}

.menuDivider {
  margin: 15px 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.noteListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(90, 84, 97);
  padding: 0 5px;
}

.noteListTitle {
  color: rgb(160, 157, 167);
  font-weight: 500;
  font-size: 1.2em;
}

.noteListCount {
  font-size: 0.9em;
}

.menuLowerItems {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-right: -13px;
  margin-left: -13px;
  padding: 8px 13px;
  overflow: hidden;
  gap: 8px;
}

.menuLowerItems:hover {
  overflow-y: auto;
}

.sidebarLoaderContainer {
  position: absolute;
  display: flex;
  inset: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.noResultsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inset: 0;
  gap: 10px;
  pointer-events: none;
}

.noResultsText {
  color: #61586b67;
  font-size: 1em;
}

.noteItem {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--sidebar-item-background-color);
  border-radius: 0.5em;
  min-height: 45px;
  width: 100%;
  color: rgb(173, 173, 173);
  box-shadow: 0.2em 0.2em 10px rgba(0, 0, 0, 0.125);
  user-select: none;
  line-height: 130%;
  z-index: 2;
  transition:
    scale 0.3s,
    background-color 0.3s;
}

.noteItem:hover {
  outline: 1px solid var(--sidebar-item-hover-border-color);
  scale: 103%;
  cursor: pointer;
  height: max-content;
  background-color: var(--sidebar-item-hover-background-color)
}

.noteItemTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noteItem:hover .noteItemTitle {
  overflow: visible;
  white-space: normal;
}

.noteItem:active {
  scale: 97%;
}