.tooltipButton {
  display: flex;
  aspect-ratio: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  font-size: 35px;
  color: rgba(147, 117, 182, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
}

.tooltipButton:hover:not(:disabled) {
  background-color: rgba(119, 102, 161, 0.1);
}

.tooltipContent {
  background-color: #3f354d;
  color: #9c86aa;
  font-size: 0.85em;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 500;
  animation: scaleIn 0.15s ease-out;
}

.tooltipArrow {
  fill: #3f354d;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
