.container {
  position: relative;
  display: flex;
  pointer-events: auto;
  user-select: text;
  flex-direction: column;
  padding: 12px;
  gap: 6px;
  background-color: rgb(47, 44, 53);
  border: 1px solid rgb(60, 55, 66);
  border-radius: 12px;
  animation: slideLoad 250ms ease-in-out forwards;
}

.container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%) rotate(45deg);
  background-color: rgb(47, 44, 53);
  border-bottom: 1px solid rgb(60, 55, 66);
  border-left: 1px solid rgb(60, 55, 66);
  height: 15px;
  width:  15px;
}

.separator {
  margin: 0;
  border: none;
  border-top: 1px solid rgb(90, 81, 107);
}

@keyframes slideLoad {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}