.rule {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.8em;
}

.icon {
  display: flex;
  align-items: center;

  /*
   * Apparently, this is necessary, since the icon isn't actually centered.
   */
  padding-top: 1px;
}