:root {
  --file-too-large-color: rgb(175, 45, 45);
}

/* Note Creation Modal */
.container {
  position: relative;
  display: flex;
  padding: 20px 25px;
  box-sizing: border-box;
  height: max-content;
  max-height: 98vh;
  width: 430px;
  border: 1px solid rgb(42, 36, 51);
  background-color: rgb(30, 25, 37);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  animation: smoothToggleModal 300ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards;
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 10px;
  padding: 3px;
  border-radius: 8px;
  right: 10px;
  transition: background-color 300ms;
}

.close:hover {
  background-color: rgb(51, 42, 63);
}

.closeIcon {
  color: rgb(136, 136, 136);
  font-size: 2rem;
  transform: rotate(45deg);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  color: rgb(147, 142, 153);
}

.bottomContainer {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: end;
}

.submitButton {
  position: relative;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  font-weight: 600;
  padding: 12px 18px;
  min-width: 100px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  background-color: rgb(144, 92, 192);
  user-select: none;
  overflow: hidden;
  transition: background-color 300ms;
}

.submitButton:hover {
  background-color: rgb(169, 119, 216);
}

.submitButton:disabled {
  background-color: rgb(64, 58, 80);
}

.buttonLoader {
  scale: 70%;
}

.loaderContainer {
  position: absolute;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
}

/* My animations for modals */
@keyframes smoothToggleModal {
  from {
    opacity: 0;
    scale: 70%;
  }
  
  to {
    opacity: 1;
    scale: 100%;
  }
}