.content {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background-color: #16131b;
  border: 1px solid #26202e;
  border-radius: 12px;
  padding: 8px 0;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  max-height: var(--radix-dropdown-menu-content-available-height);
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.scrollContainer {
  flex: 1;
  overflow-y: auto;
  padding: 0 4px;
  scrollbar-width: thin;
  scrollbar-color: #46414e transparent;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: #b4acc0;
  font-size: 14px;
  overflow: hidden;
  user-select: none;
  transition: background-color 100ms;
}

.item:focus,
.item:hover,
.item[data-state="open"] {
  background-color: #3b3347;
}

.item[data-disabled] {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.optIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #957fb6;
}

.itemLabel {
  font-weight: 500;
}

.chevron {
  font-size: 10px;
  color: #b5bac1;
  margin-left: 8px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid #554c64;
  background-color: transparent;
  flex-shrink: 0;
  margin-left: 12px;
  transition: all 0.15s ease;
}

.item[data-state="checked"] .checkbox {
  background-color: #8759b3;
  border-color: #8759b3;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e3c4ff;
  width: 100%;
  height: 100%;
}

.separator {
  height: 1px;
  background-color: #332a3d;
  margin-top: 4px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 8px 10px 0 10px;
}

.saveButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 30px;
  background-color: #5f4088;
  color: #c4a3f3;
  border: none;
  border-radius: 9999px;
  font-size: 0.95em;
  font-weight: 450;
  cursor: pointer;
  transition: background-color 0.2s;
}

.saveButton:hover:not(:disabled) {
  background-color: #7451a1;
}

.saveButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
