.userActions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.actionButton {
  position: relative;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  height: 100%;
  background-color: transparent;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 300ms;
}

.actionButton:hover {
  background-color: rgba(165, 142, 192, 0.1);
}

.actionIcon {
  color: #908899;
  transition: color 300ms;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #16131b;
  border: 1px solid #26202e;
  border-radius: 8px;
  padding: 6px;
  min-width: 200px;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: #b4acc0;
  font-size: 14px;
  user-select: none;
  transition: background-color 0.1s;
}

.item:focus,
.item:hover {
  background-color: #3b3347;
}

.dangerItem:focus,
.dangerItem:hover {
  background-color: #f15b5b;
  color: #ffffff;
}

.dangerIcon {
  transition: color 0.1s;
}

.dangerItem:focus .dangerIcon,
.dangerItem:hover .dangerIcon {
  color: #ffffff;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.optIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #957fb6;
}

.itemLabel {
  font-weight: 500;
}
