.content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgb(29, 25, 34);
  border: 1px solid rgb(42, 36, 51);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  min-width: 400px;
  min-height: 400px;
  max-height: 85vh;
  z-index: 50;
  animation: smoothToggleModal 300ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards;
}

.header {
  padding: 16px;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(160, 157, 167);
  margin: 0;
}

.division {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.08);
  margin: 0 16px;
}

.userList {
  padding: 8px 16px 16px 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@keyframes smoothToggleModal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}