.content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgb(29, 25, 34);
  border: 1px solid rgb(42, 36, 51);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  min-width: 400px;
  min-height: 400px;
  max-height: 85vh;
  z-index: 50;
  animation: smoothToggleModal 300ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(160, 157, 167);
  margin: 0;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchIcon {
  color: rgb(168, 155, 189);
  padding: 5px;
  width: 1.1em;
  height: 1.1em;
  border-radius: 9999px;
  transition: background-color 300ms;
}

.searchIcon:hover {
  background-color: rgba(223, 183, 255, 0.1);
}

.searchInput {
  background-color: transparent;
  font-size: 0.9em;
  color: rgb(167, 162, 180);
  outline: none;
  border: none;
  padding: 2px;
  border-bottom: 1px solid rgb(147, 130, 168);
}

.searchInput::placeholder {
  color: rgb(109, 104, 121);
  font-size: 0.9em;
}

.searchInput:focus {
  border-bottom: 2px solid rgb(147, 130, 168);
}

.division {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.08);
  margin: 0 16px;
}

.userList {
  padding: 8px 16px 16px 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@keyframes smoothToggleModal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}