.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  border-radius: inherit;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(216, 186, 255, 0.2);
  transform: scale(0);
  animation: ripple-anim 600ms linear;
}

@keyframes ripple-anim {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
