.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  border-radius: inherit;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: #d8baff33;
  transform: scale(0.2);
  animation: ripple-anim linear forwards;
}

@keyframes ripple-anim {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
