.userRow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  transition: background-color 150ms;
  animation: insideoutUsers 100ms ease-in-out forwards;
}

.userRow:hover {
  background-color: var(--interactive-hover);
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userIcon {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--accent-muted);
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 9999px;
}

.presence {
  position: absolute;
  height: 8px;
  width:  8px;
  bottom: -1px;
  right: -1px;
  border-radius: 9999px;
  border: 3px solid var(--surface-overlay);
  background-color: var(--presence-offline);
  transition: background-color 300ms;
}

.presence.online {
  background-color: var(--semantic-success);
}

.userData {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.userTop {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1em;
  font-weight: 500;
  color: var(--text-secondary);
}

.loader {
  position: static;
}

.username {
  outline: none;
}

.editable {
  margin-left: -2px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px 4px;
  transition:
    border 200ms,
    outline 200ms;
}

.editable:hover,
.editable:focus {
  border: 1px solid var(--accent-deep);
}

.editable:focus {
  border-color: var(--accent-deep);
  outline: 1px solid var(--accent-deep);
}

.you {
  background-color: var(--accent-strong);
  text-transform: uppercase;
  padding: 3px 5px;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.timestamp {
  font-size: 0.8em;
  font-weight: 450;
  color: var(--text-muted);
}

@keyframes insideoutUsers {
  from {
    scale: 0.97;
  }

  to {
    scale: 1;
  }
}