:root {
  --background-auth-modal-color: rgb(33, 27, 42);
  --background-auth-modal-border-color: rgb(46, 37, 59);
  --background-auth-modal-input-color: rgb(26, 21, 34);
}

.auth-modal-container {
  display: flex;
  flex-direction: column;
  height: max-content;
  max-height: 450px;
  width: 350px;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--background-auth-modal-border-color);
  background-color: var(--background-auth-modal-color);
  overflow-y: auto;
}

.auth-modal-header {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.auth-modal-header-title {
  color: rgb(146, 137, 155);
}

.auth-modal-division {
  width: 100%;
  border-bottom: 1px solid rgb(81, 77, 94);
}

.auth-base-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form-control {
  display: flex;
  gap: 3px;
  flex-direction: column;
}

.auth-form-label {
  display: flex;
  gap: 3px;
  color: rgb(151, 151, 151);
  padding-right: 10px;
}

.auth-form-input {
  outline: 1px solid rgb(64, 53, 80);
  border-radius: 5px;
  border: none;
  padding: 8px 6px;
  color: rgb(148, 148, 148);
  font-size: 14px;
  background-color: var(--background-auth-modal-input-color);
  transition: outline-color 200ms;
}

.auth-form-input:focus {
  outline: 2px solid rgb(76, 64, 95);
}

.auth-form-input:not(:valid):is(:focus) {
  outline-color: rgb(255, 69, 69);
}

.auth-modal-footer {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: end;
}

.auth-footer-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  overflow: hidden;
}

.auth-footer-loader-container > .loader {
  scale: 0.5;
}

.auth-proceed-btn {
  padding: 8px 16px;
  color: rgb(22, 22, 22);
  font-weight: 450;
  font-size: 16px;
  border-radius: 8px;
  background-color: rgb(127, 114, 160);
  border: none;
  cursor: pointer;
  transition: background-color 200ms;
}

.auth-proceed-btn:hover {
  background-color: rgb(154, 141, 187);
}