.main-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: var(--main-background-color);
}

.empty-content-box {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.empty-content-box > span {
  color: rgba(180, 180, 180, 0.5);
  font-size: 30px;
  letter-spacing: 2px;
}

/* Customization for each note type */
.note-frame-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.note-frame-text {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(177, 177, 177);
  padding: 10px;
  box-sizing: border-box;
}

.note-frame-pdf {
  height: 100%;
  width: 100%;
  border: none;
}

.note-frame-audio {
  width: 70%;
}

.note-frame-video {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border: none;
  outline: none;
}