/* This file is just some enhancements for Markdown formattings */
#display-box a {
  color: rgb(21, 130, 255);
}

#display-box table {
  min-width: 70%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

#display-box table > thead > tr {
  background-color: rgba(255, 255, 255, 0.2);
}

#display-box table > tbody > tr {
  background-color: rgba(255, 255, 255, 0.02);
}

#display-box table th,
#display-box table td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px; 
}