:root {
  --file-too-large-color: rgb(175, 45, 45);
}

/* Note Creation Modal */
.modal-screen-container {
  position: relative;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: max-content;
  max-height: 98vh;
  width: 400px;
  background-color: rgb(36, 33, 46);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  animation: smoothToggleModal 300ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards;
}

.modal-screen-contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.modal-title {
  margin: 0;
  margin-top: 10px;
  color: rgb(146, 146, 146);
}

.modal-action-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-action-row > div {
  flex-grow: 1;
  flex-shrink: 0;
}

.modal-row-section {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.modal-input-section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 3px;
}

.input-label {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left: 3px;
  box-sizing: content-box;
  color: rgb(172, 172, 172);
  font-size: 17px;
}

.note-modal-std-in {
  color: rgb(180, 180, 180);
  padding: 10px 8px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px rgb(50, 42, 70);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.note-modal-std-in::placeholder {
  opacity: 40%;
}

.note-modal-std-in:focus {
  border-color: rgb(92, 71, 145);
}

.modal-dropdown-input:hover:not(:focus) {
  cursor: pointer;
}

.modal-dropdown-input option {
  background-color: rgb(29, 27, 37);
  outline: none;
  padding: 50px;
}

.create-note-payload-container {
  background-color: lime;
  min-height: 100px;
}

textarea#modal-content-in {
  resize: vertical;
  height: 60px;
  max-height: 160px;
  min-height: 30px;
  background-color: rgb(29, 27, 37);
}

.modal-content-in-styled {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 27, 37);
  border-radius: 10px;
  color: rgb(150, 150, 150);
  border: 2px dashed rgb(102, 74, 146);
  height: 100px;
  cursor: pointer;
}

.modal-content-in-styled.file-too-large {
  border-color: var(--file-too-large-color);
}

.modal-chosen-file {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 6px;
  background-color: rgb(38, 36, 49);
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  /* Doesn't change much here, but better safe than sorry? */
  box-sizing: border-box;
  max-width: 90%;
  max-height: 60%;
  overflow: hidden;
}

.modal-chosen-file .file-name {
  word-wrap: break-word;
  word-break: break-all;
  padding: 5px;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
}

.modal-chosen-file .file-size {
  padding-left: 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgb(84, 57, 102);
}

.modal-chosen-file .file-size.file-too-large {
  background-color: var(--file-too-large-color)
}

.modal-bottom-container {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: end;
}

.create-note-loader-container {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 35px;
  width: 35px;
  gap: 3px;
  overflow: hidden;
}

.create-note-loader-container > .loader {
  scale: 0.5;
}

.modal-bottom {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  min-width: 100px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgb(168, 153, 204);
  transition: background-color 0.3s;
}

.modal-submit-button:hover {
  background-color: rgb(197, 185, 223);
}

.modal-button-loader {
  scale: 50%;
  border: 8px solid rgba(0, 0, 0, 0.6);
}

/* Hints */
.required-hint {
  color: rgb(255, 60, 60);
}

.optional-hint {
  font-size: 11px;
  opacity: 50%;
}

.invalid-note-modal-input {
  border-color: rgb(238, 54, 54) !important;
  background-color: rgba(238, 54, 54, 0.05) !important;
  border-width: 2px;
}

.help-hint {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(116, 116, 116, 0.2);
  border: solid 1px rgba(116, 116, 116, 0.5);
  font-size: 45%;
  height: 13px;
  aspect-ratio: 1;
  color: gray;
  border-radius: 10px;
  cursor: help;
}

.modal-help-hint-text {
  position: absolute;
  bottom: 18px;
  right: -22px;
  font-size: 12px;
  color: rgb(165, 165, 165);
  max-width: 200px;
  width: max-content;
  background-color: rgb(20, 19, 27);
  padding: 8px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.help-hint:hover .modal-help-hint-text {
  opacity: 1;
}

/* This simply hints the form that the Modal should not allow any values to be submitted */


/* Error Messages */
.input-error-msg {
  color: rgb(238, 54, 54);
  font-size: 11px;
  margin-left: 5px;
}

/* Close Icons */
.close-tab-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  inset: 6px 6px auto auto;
  cursor: pointer;
  opacity: 0.5;
}

.close-tab-container:hover {
  opacity: 1;
}

.close-tab-icon {
  color: rgb(136, 136, 136);
  font-size: 2rem;
  transform: rotate(45deg);
}

/* My animations for modals */
@keyframes smoothToggleModal {
  from {
    opacity: 0;
    scale: 70%;
  }
  
  to {
    opacity: 1;
    scale: 100%;
  }
}