.container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--modal-bg-color);
  border: 1px solid var(--modal-border-color);
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 0;
  box-sizing: border-box;
  max-height: 95vh;
  gap: 20px;
  width: min(592px, calc(100vw - 24px));
}

.close {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 10px;
  padding: 3px;
  border-radius: 8px;
  right: 10px;
  transition: background-color 300ms;
}

.close:hover {
  background-color: var(--modal-close-hover);
}
