.tooltipContent {
  background-color: #3f354d;
  color: #ac9fb4;
  font-size: 0.85em;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 500;
  max-width: 300px;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.125);
  animation: scaleIn 0.15s ease-out;
}

.tooltipArrow {
  fill: #3f354d;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}