.triggerButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border: none;
  border-radius: 9999px;
  background-color: rgba(195, 157, 255, 0.05);
  color: #b0a7bb;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 300ms;
}

.triggerButton:hover {
  background-color: #3b3246;
}

.triggerButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.chevron {
  font-size: 12px;
  color: #b5bac1;
  transition: transform 300ms ease;
}

.chevron.open {
  transform: rotate(180deg);
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background-color: #16131b;
  border: 1px solid #26202e;
  border-radius: 12px;
  padding: 8px 0;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  max-height: var(--radix-dropdown-menu-content-available-height);
  z-index: 100;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.scrollContainer {
  flex: 1;
  overflow-y: auto;
  padding: 0 4px;
  scrollbar-width: thin;
  scrollbar-color: #46414e transparent;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  margin: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  color: #b4acc0;
  font-size: 14px;
  user-select: none;
  transition: background-color 0.1s;
}

.item:focus,
.item:hover {
  background-color: #3b3347;
}

.item[data-disabled] {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.optIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #957fb6;
}

.itemLabel {
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #554c64;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
  background-color: transparent;
  flex-shrink: 0;
}

.item[data-state="checked"] .checkbox {
  background-color: #8759b3;
  border-color: #8759b3;
}

.indicator {
  color: #e3c4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.separator {
  height: 1px;
  background-color: #332a3d;
  margin-top: 4px;
}

.footer {
  position: relative;
  margin: 10px 10px 0 10px;
  align-items: center;
  display: flex;
  justify-content: end;
}

.loader {
  left: 0;
  right: auto;
}

.saveButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 30px;
  background-color: #5f4088;
  color: #e6d4ff;
  border: none;
  border-radius: 9999px;
  font-size: 0.95em;
  font-weight: 450;
  cursor: pointer;
  transition: background-color 0.2s;
}

.saveButton:hover {
  background-color: #7451a1;
}

.saveButton:disabled {
  background-color: #2b2335;
  color: #7d7686;
  cursor: not-allowed;
}

.arrow {
  fill: #141111;
}
